{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Главная{% endblock%}

{% block buttons %}
<li class="active"><a href="/">Главная</a></li>
<li ><a href="/chat">Чат</a></li>
{% if current_user.is_authenticated %}
<li><a href="/logout">Выйти</a></li>
{% else %}
<li ><a href="/register">Зарегистрироваться</a></li>
<li ><a href="/login">Войти</a></li>
{% endif %}
{% endblock %}

{% block page_name%}О проекте{% endblock %}

{% block content %}
<h3>
	Думаю, многие из вас сталкивались с проблемой того, что трудно найти нормальное место для обмена сообщениями. Существует множество популярных сервисов и проектов, которые только и делают, что кормят нас своими пустыми обещаниями о &quot;удобном&quot;, &quot;быстром&quot; и&quot;безопасном&quot; общении. Но всем известно, что все эти проекты проплачены правительством, и доверять им нельзя!!!&nbsp; Мы решили исправить ситуацию, дать людям свободу, и стать поплощением Дижитал Резизтанса!!! Представляем вам инновационный, самый быстрый, безопасный и удобный чат, который даже превосходит ICQ*: Chatius</h3>
<h3>
	Особенности:&nbsp;</h3>
<ol>
<li>
<h3>
	Быстрая и удобная регистрация</h3>
</li>
<li>
<h3>
	Круглосуточный доступ ко всем сообщениям</h3>
</li>
<li>
<h3>
	Мощные** сервера</h3>
</li>
<li>
<h3>
	Большая*** база пользователей</h3>
</li>
<li>
<h3>
	Приятный интерфейс, самопроизвольно изменяющий свой дизайн</h3>
</li>
<li>
<h3>
	Интересный алгоритм шифрования</h3>
</li>
<li>
<h3>
	Название, отсылающееся к Богу Чатов</h3>
</li>
<li>
<h3>
	Сделан в России</h3>
</li>
</ol>
<h3>
	И в честь нашего официального запуска, мы раздаём очень полезные**** подарки: для получения своего подарка вы должны набрать минимум 1000 рефералов, и он появится прямо на этой странице!</h3>
{% if current_user.is_authenticated %}
<h3>	Кол-во ваших рефералов: {{ refs }}</h3>
{% if refs > 999 %}
 <h3>Ваш подарок: uctf_l0ve_pr0t3cted_ch@ts</h3>
{% endif %}
{% endif %}
<br>
<p>* - по мнению одноклассников автора</p>
<p>** - раньше на них хостили проекты по Minecraft</p>
<p>*** - по состоянию на 2048 год</p>
<p>**** -&nbsp; если вы получите их в период с 30 по 31 июля 2018 года</p>

{% endblock %}
